@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body, html {
  width: 100%;
  min-height: 100%;
  background-color: #fafafa;
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-size: calc(1vw + 20px);
  margin-bottom: 10px;
}

h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

p {
  line-height: 28px;
}

.landing {
  min-height: 100vh;
  background-image: linear-gradient(to right, #5e35b1, #d81b60);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 95%);
}

.about {
  min-height: 100vh;
  background-image: linear-gradient(to right, #e0e0e0, #f06292);
}

.featured-reviews {
  min-height: 100vh;
  background-image: linear-gradient(to right, #e0e0e0, #7986cb);
  clip-path: polygon(0 15%, 100% 5%, 100% 85%, 0% 95%);
}

.featured-courses {
  min-height: 100vh;
  background-color: #e0e0e0;
}

.landing-tag {
  color: #fafafa;
  font-weight: 600 !important;
  font-size: calc(1.5vw + 20px) !important;
  text-align: center;
}

.nav-el {
  text-decoration: none;
  color: #fafafa;
  letter-spacing: 1px;
  align-self: center;
}

.nav-el:hover {
  color: #d81b60;
}

.header-icon:hover {
  color: #d81b60;
}

.primary-btn {
  padding: 10px 24px !important;
  border-radius: 10px !important;
  color: #fafafa !important;
  background-image: linear-gradient(to right, #5e35b1, #d81b60) !important;
}

.primary-btn:hover {
  color: black !important;
  background-image: none !important;
  background-color: #fafafa !important;
}

.secondary-btn {
  padding: 9px 24px !important;
  border-radius: 10px !important;
  border: 2px solid #fafafa;
}

.secondary-btn:hover {
  background-color: #5e35b1 !important;
  border: 2px solid #5e35b1;
}

.btn {
  padding: 8px 18px !important;
  border-radius: 8px !important;
  color: #fafafa !important;
  background-color: #5e35b1 !important;
}

.btn:hover {
  background-color: #d81b60 !important;
}

.heart-icon {
  color: #d81b60;
}

.heart-icon:hover {
  color: #5e35b1;
}

.course-detail {
  min-height: 60vh;
  background-image: linear-gradient(to right, #7e57c2, #ec407a);
}

.category-detail {
  min-height: 60vh;
  background-image: linear-gradient(to right, #7e57c2, #ec407a);
}

.title {
  color: #fafafa;
  font-weight: 600 !important;
  font-size: calc(1.5vw + 20px) !important;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 36px;
}

.subtitle {
  color: #fafafa;
  font-size: calc(.5vw + 14px) !important;
  letter-spacing: 1px;
  text-align: center;
}

@media (max-width: 600px) {
  .landing {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 95%);
  }

  .landing-tag {
    margin-top: 2vh;
  }
  
  .featured-reviews {
    clip-path: polygon(0 7.5%, 100% 5%, 100% 92.5%, 0% 95%);
  }
}
