@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body, html {
  width: 100%;
  min-height: 100%;
  background-color: #fafafa;
  font-family: 'Poppins', sans-serif;
}

p {
  line-height: 28px;
}

.landing {
  min-height: 100vh;
  background-image: linear-gradient(to right, #5e35b1, #d81b60);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 95%);
}

.about {
  min-height: 100vh;
  background-image: linear-gradient(to right, #e0e0e0, #f06292);
}

.featured-reviews {
  min-height: 100vh;
  background-image: linear-gradient(to right, #e0e0e0, #7986cb);
  clip-path: polygon(0 15%, 100% 5%, 100% 85%, 0% 95%);
}

.featured-courses {
  min-height: 100vh;
  background-color: #e0e0e0;
}

.landing-tag {
  color: #fafafa;
  font-weight: 600 !important;
  font-size: 44px !important;
  text-align: center;
  margin-top: 5vh;
}

.tag {
  font-weight: 600 !important;
  font-size: 36px !important;
  text-align: center;
}

.nav-el {
  text-decoration: none;
  color: #fafafa;
  letter-spacing: 1px;
  align-self: center;
}

.primary-btn {
  padding: 10px 24px !important;
  border-radius: 10px !important;
  color: #fafafa !important;
  background-image: linear-gradient(to right, #5e35b1, #d81b60) !important;
}

.secondary-btn {
  padding: 9px 24px !important;
  border-radius: 10px !important;
  border: 2px solid #fafafa;
}

.btn {
  padding: 8px 18px !important;
  border-radius: 10px !important;
  color: #fafafa !important;
  background-color: #5e35b1 !important;
}

.course-detail {
  min-height: 60vh;
  background-image: linear-gradient(to right, #7e57c2, #ec407a);
}

.category-detail {
  min-height: 60vh;
  background-image: linear-gradient(to right, #7e57c2, #ec407a);
}

.title {
  color: #fafafa;
  font-weight: 600 !important;
  font-size: 44px !important;
  letter-spacing: 1px;
  text-align: center;
}

.subtitle {
  color: #fafafa;
  font-size: 24px !important;
  letter-spacing: 1px;
  text-align: center;
}
