@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body, html {
  width: 100%;
  min-height: 100%;
  background-color: #fafafa;
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-size: calc(1vw + 22px);
  margin-bottom: 10px;
}

h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

p {
  line-height: 28px;
}

.landing {
  display: grid;
  place-content: center;
  min-height: 100vh;
  background-image: linear-gradient(to right, #5e35b1, #d81b60);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 95%);
}

.about {
  min-height: 100vh;
  background-image: linear-gradient(to right, #e0e0e0, #7986cb);
}

.featured-reviews {
  min-height: 100vh;
  background-image: linear-gradient(to right, #7986cb, #f06292);
  clip-path: polygon(0 10%, 100% 5%, 100% 90%, 0% 95%);
}

.promotions {
  min-height: 80vh;
  background-image: linear-gradient(to right, #7986cb, #e0e0e0);
  clip-path: polygon(0 10%, 100% 5%, 100% 90%, 0% 95%);
}

.featured-courses {
  min-height: 100vh;
  background-color: #e0e0e0;
}

.landing-tag {
  color: #fafafa;
  text-shadow: 2px 2px #212121;
  font-weight: 600 !important;
  font-size: calc(1vw + 28px) !important;
  text-align: center;
}

.nav-el {
  text-decoration: none;
  color: #fafafa;
  letter-spacing: 1px;
  align-self: center;
}

.nav-el:hover {
  color: #d81b60;
}

.footer-icon {
  color: #fafafa;
  margin-right: 10px;
}

.header-icon:hover,
.footer-icon:hover {
  color: #d81b60;
}

.primary-btn {
  padding: 10px 24px !important;
  border-radius: 10px !important;
  color: #fafafa !important;
  background-image: linear-gradient(to right, #5e35b1, #d81b60) !important;
}

.primary-btn:hover {
  filter: contrast(200%);
}

.secondary-btn {
  padding: 9px 24px !important;
  border-radius: 10px !important;
  border: 2px solid #fafafa;
}

.secondary-btn:hover {
  background-color: #5e35b1 !important;
  color: #fafafa !important;
  border: 2px solid #5e35b1;
}

.btn {
  padding: 8px 18px !important;
  border-radius: 8px !important;
  color: #fafafa !important;
  background-color: #5e35b1 !important;
}

.btn:hover {
  background-color: #d81b60 !important;
}

.heart-icon {
  color: #d81b60;
}

.heart-icon:hover {
  color: #5e35b1;
}

.course-detail,
.category-detail,
.promotion-detail {
  display: grid;
  place-content: center;
  min-height: 60vh;
  background-image: linear-gradient(to right, #7e57c2, #ec407a);
}

.title {
  color: #fafafa;
  text-shadow: 1px 1px #212121;
  font-weight: 600 !important;
  font-size: calc(1vw + 26px) !important;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 36px;
}

.subtitle {
  color: #fafafa;
  text-shadow: 1px 1px #212121;
  font-size: calc(.5vw + 18px) !important;
  letter-spacing: 1px;
  text-align: center;
}

#payment-form {
  width: 30vw;
  min-width: 500px;
  align-self: center;
  box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
    0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
  border-radius: 7px;
  padding: 40px;
}

#payment-element {
  margin-bottom: 24px;
}

button:hover {
  filter: contrast(120%);
}

button:disabled {
  opacity: 0.5;
  cursor: default;
}

.spinner,
.spinner:before,
.spinner:after {
  border-radius: 50%;
}

.spinner {
  color: #ffffff;
  font-size: 22px;
  text-indent: -99999px;
  margin: 0px auto;
  position: relative;
  width: 20px;
  height: 20px;
  box-shadow: inset 0 0 0 2px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.spinner:before,
.spinner:after {
  position: absolute;
  content: '';
}

.spinner:before {
  width: 10.4px;
  height: 20.4px;
  background: #5469d4;
  border-radius: 20.4px 0 0 20.4px;
  top: -0.2px;
  left: -0.2px;
  -webkit-transform-origin: 10.4px 10.2px;
  transform-origin: 10.4px 10.2px;
  -webkit-animation: loading 2s infinite ease 1.5s;
  animation: loading 2s infinite ease 1.5s;
}

.spinner:after {
  width: 10.4px;
  height: 10.2px;
  background: #5469d4;
  border-radius: 0 10.2px 10.2px 0;
  top: -0.1px;
  left: 10.2px;
  -webkit-transform-origin: 0px 10.2px;
  transform-origin: 0px 10.2px;
  -webkit-animation: loading 2s infinite ease;
  animation: loading 2s infinite ease;
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .landing {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 95%);
  }

  .landing-tag {
    margin-top: 2vh;
  }
  
  .featured-reviews {
    clip-path: polygon(0 7.5%, 100% 5%, 100% 92.5%, 0% 95%);
  }

  .promotions {
    clip-path: polygon(0 7.5%, 100% 5%, 100% 92.5%, 0% 95%);
  }

  #payment-form {
    width: 80vw;
    min-width: initial;
  }
}
