[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
djoser = "*"
pillow = "*"
stripe = "*"
django-dotenv = "*"
drf-nested-routers = "*"
django-filter = "*"
dj-database-url = "*"
psycopg2-binary = "*"
django-heroku = "*"
gunicorn = "*"
whitenoise = "*"
psycopg2 = "*"
django-storages = "*"
boto3 = "*"
pipfile = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
