@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body, html {
  width: 100%;
  min-height: 100%;
  background-color: #fafafa;
  font-family: 'Poppins', sans-serif;
}

p {
  line-height: 28px;
}
