.home {
  display: grid;
  height: 100vh;
  background-image: linear-gradient(to right, #512da8, #c2185b);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
}

.reviews {
  display: grid;
  background-color: #e0e0e0;
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
}

.home-tag {
  color: #fafafa;
  font-weight: 600 !important;
  font-size: 48px !important;
  text-align: center;
  margin-top: 96px;
}

.tag {
  font-weight: 600 !important;
  font-size: 36px !important;
  text-align: center;
  margin-top: 48px;
}
